.hero {
    font-size: 8rem;
    background: -webkit-linear-gradient(45deg, #5AA0B6, #113844);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 10px;
    line-height: 92%;
    text-transform: uppercase;
}