.hero {
    font-size: 8rem;
    background: -webkit-linear-gradient(45deg, #7dd3fc, #0c4a6e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 10px;
    line-height: 92%;
    text-transform: uppercase;
    margin: 3rem 0;
}