---
import Layout from '../layouts/Layout.astro';
import Header from '../components/solid/Header/Header.jsx';
import HeadingHero from '../components/solid/HeadingHero/HeadingHero.jsx';
import BlurEffect from '../components/solid/BlurEffect/BlurEffect.jsx';

---

<Layout title="Welcome to Astro.">
	<header>
		<Header></Header>
	</header>
	<main>
		<section>
			<div>
				<p>Hi, I am</p>
				<HeadingHero text="Cristiano Gotardi" />
			</div>
			<div>
				<h3>Front end Developer</h3>
				<p>Passionate about technology and initiatives <br> that turn the world a better place.</p>
			</div>
		</section>
	</main>
	<BlurEffect position={{top: '-200px', left: '300px'}}></BlurEffect>
	<BlurEffect position={{bottom: '-100px', right: '300px'}}></BlurEffect>
</Layout>

<style>
	main {
		padding: 8rem;
		display: flex;
		flex-direction: row;
		gap: 5rem;
		height: calc(100vh - 150px);
	}

	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 5rem;
	}

	p {
		color: #ACC4DB;
		font-size: 1.2rem;
		letter-spacing: 2px;
	}

	h3 {
		color: #5AA0B6;
		font-size: 2rem;
		font-weight: 400;
		line-height: 30px;
		letter-spacing: 5px;
		margin-bottom: 1rem;
	}
</style>
