---
import Layout from "@layouts/Layout.astro";
import {
  BlurEffect,
  Button,
  Clients,
  Header,
  HeadingHero,
  Profile,
  Section,
  SectionContent,
  SkillSet,
} from "@components/solid/";
---

<Layout title="Cristiano Gotardi">
  <header>
    <Header />
  </header>
  <main class="container mx-auto md:p-20 p-10">
    <Section>
      <SectionContent>
        <div>
          <p>Hi, I am</p>
          <HeadingHero text="Cristiano Gotardi" />
        </div>
        <div>
          <h3 class="sm:text-h3 text-h6">Front end | UX Developer</h3>
          <p>
            Passionate about technology and initiatives <br /> that turn the
            world a better place.
          </p>
        </div>
      </SectionContent>
    </Section>
    <Section height="h-screen">
      <SectionContent>
        <div>
          <h2 class="text-h2">About me</h2>
          <p>Brazilian. 28 years old. Based in Lisbon.</p>
          <p>
            Graduated in Analysis and Development Systems at Faculdade de
            Tecnologia de São Paulo.
          </p>
          <p>5+ years of experience with front end development.</p>
          <p>
            Passionate about how a good UX / UI can transform a product and
            increase your value.
          </p>
        </div>
      </SectionContent>
    </Section>
    <Section height="h-auto">
      <SectionContent>
        <div>
          <h2 class="text-h2">Skills</h2>
          <SkillSet client:only="solid-js" />
        </div>
      </SectionContent>
    </Section>
    <Section>
      <SectionContent>
        <div>
          <h2 class="text-h2">Worked with</h2>
          <div class="flex items-center gap-16 justify-center">
            <Clients client:only="solid-js" />
          </div>
        </div>
      </SectionContent>
    </Section>
    <Section height="h-3/6" justify="justify-center">
      <SectionContent>
        <div>
          <h2 class="text-h2">Let's work together?</h2>
          <Profile client:only="solid-js" />
        </div>
      </SectionContent>
      <SectionContent>
        <div class="flex gap-5 justify-center items-center md:mt-[10rem]">
          <Button id="email-button" label="E-mail" icon="gmail" />
          <Button id="cv-button" label="CV" icon="pdf" />
        </div>
      </SectionContent>
    </Section>
  </main>
  <BlurEffect position={{ top: "-200px", left: "300px" }} />
  <BlurEffect position={{ bottom: "-100px", right: "300px" }} />

  <script>
    document.querySelector("#email-button").addEventListener("click", () => {
      window.open("mailto:email@gmail.com", "_blank");
    });

    document.querySelector("#cv-button").addEventListener("click", () => {
      window.open(
        "https://drive.google.com/file/d/1zJo3H2x4JG5c4TBfA217S01JqSEvksgb/view?usp=sharing",
        "_blank"
      );
    });
  </script>
</Layout>
